TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
# To reverse the string we can use slicing 
String = 'Python for Data Science'
Reverse = String[::-1]
print("Reverse String : ", Reverse)

Reverse String :  ecneicS ataD rof nohtyP

2. Check if a string is a palindrome.

In [2]:
isPalindrome = input('Please enter the string :')        # We take here user input
if isPalindrome == isPalindrome[::-1]:                   # Condition to check palindrome
    print('isPalindrome - Yes')
else:
    print('isPalindrome - No')

Please enter the string : q

isPalindrome - Yes

3. Convert a string to uppercase.

In [3]:
UpperCase_String = 'pw skills'
UpperCase_String.upper()      # upper() method is used to convert string into upper case.

'PW SKILLS'

4. Convert a string to lowercase.

In [4]:
UpperCase_String = 'PW SKILLS'
UpperCase_String.lower()       # lower() method is used to convert the string into upper case.

'pw skills'

5. Count the number of vowels in a string.

In [5]:
# Count the number of vowels in a string.
User_Input = input('Please enter string to check whether its vowel or not')    # User Input
Vowel = ['a','e','i','o','u']
Count = 0                                                                      # It will count the occurrences of vowel 
for i in range(len(User_Input)):                                               # It will iterate the user input
    if User_Input[i] in Vowel:                                                 # it will check whether the vowel exist in the user input or not
        Count+=1                                                               # If the condition is true then the count will increase
print("Count of vowel in the given string is ",Count)                                                                   # print the out put

Please enter string to check whether its vowel or not q

Count of vowel in the given string is  0

6. Count the number of consonants in a string.

In [6]:
# Count the number of consonants in a string.
User_Input = input('Please enter string to check whether its consonants or not')    # User Input
Vowel = ['a','e','i','o','u']
Count = 0                                                                      # It will count the occurrences of consonants. 
for i in range(len(User_Input)):                                               # It will iterate the user input
    if User_Input[i] not in Vowel:                                             # it will check whether the consonants exist in the user input or not
        Count+=1                                                               # If the condition is true then the count will increase
print("Count of consonants in the given string is ",Count)

Please enter string to check whether its consonants or not

Count of consonants in the given string is  0

7. Remove all whitespaces from a string.

In [7]:
Remove_WhiteSpace = input("Please enter the string: ")
Remove_WhiteSpace.replace(" ", "")         # he we remode the while space from the strings

Please enter the string:  q

'q'

8. Find the length of a string without using the `len()` function.

In [8]:
Length_Of_String = input("Please enter your string: ")   # User Input for string
Count = 0                                                # It will store the count of the string char
for i in range(len(Length_Of_String)):                   # iteration for char count
    Count+=1                                             # Increament the count value with 1 
print(Count)                                             # It will print the count of char from user input string

Please enter your string:  q

1

9. Check if a string contains a specific word.

In [9]:
# User input for the actual string
User_Input = input("Please enter your string: ")

# User input for specific words or char
Specific_Words = input("Please enter specific word: ")

# This condition checks whether string has specific words or not 
if Specific_Words in User_Input:
    print(f'Yes, this string contain the specific words "{Specific_Words}".')
else:
    print(f'No, string have not contact specific words "{Specific_Words}".')

Please enter your string:  q
Please enter specific word:  q

Yes, this string contain the specific words "q".

10. Replace a word in a string with another word.

In [10]:
String = 'PW Skills for IIT & NEET'
Specific_String = "Data Science"
String.replace("IIT & NEET", Specific_String)         # we have replace string ' IIT & NEET' with new string 'Data Science'

'PW Skills for Data Science'

11. Count the occurrences of a word in a string.

In [11]:
A = "Count the occurrences of a word in a string."

In [12]:
# String
User_String = "PW Lab is a platform where we can perform coding for data science"

# Specific string
word = "perform"

# We used the split()method to split string into list
A = User_String.split()
Count = 0   
for i in range(len(A)):
    if A[i] == word:
        Count+=1    # Increase count if the condition gets true
print(Count)

1

12. Find the first occurrence of a word in a string.

In [13]:
# String
User_String = "PW Lab is a platform where we can perform coding for data science perform perform perform. "

# Specific string
word = "perform"

# We used the split()method to split string into list
A = User_String.split()
#Count = 0   
for i in range(len(A)):
    if A[i] != word:
       # Count+=1    # Increase count if the condition gets true
        False
    else:
        print(A[i])
#print(Count)

perform
perform
perform

17. Check if a string starts with a specific word or phrase.

In [14]:
# Check if a string starts with a specific word or phrase.
String = "PW Lab is a platform where we can perform coding for data science perform perform perform."
Word = 'PW'

# We have use startwith() function to check specific word.
if String.startswith(Word):
    print('Yes! this string start with specific word')
else:
    print('No! this string start with specific word')

Yes! this string start with specific word

18. Check if a string ends with a specific word or phrase.

In [15]:
# Check if a string end with a specific word or phrase.
String = "PW Lab is a platform where we can perform coding for data science perform perform perform"
Word = 'perform'

# We have use endwith() function to check specific word.
if String.endswith(Word):
    print('Yes! this string is end with specific word')
else:
    print('No! this string is not end with specific word')

Yes! this string is end with specific word

19. Convert a string to title case (e.g., "hello world" to "Hello World")

In [16]:
# String
String = "PW Lab is a platform where we can perform coding for data science perform perform perform"

# We have used the title() function to convert the string into title format.
String.title()

'Pw Lab Is A Platform Where We Can Perform Coding For Data Science Perform Perform Perform'

20. Find the longest word in a string

In [17]:
String = "PW Lab is a platform where we can perform coding for data science"

# Here we have used the split() method to split sentences into list.
A = String.split()    

# We have used max() function to check the maximum length 
# and key = len parameter to check the string length.

max(A, key=len)

'platform'

21. Find the shortest word in a string.

In [18]:
# String
String = "PW Lab is a platform where we can perform coding for data science"

# Here we have used the split() method to split sentences into list.
A = String.split()

# We have used min() function to check the minimum length 
# and key = len parameter to check the string length.
min(A, key=len)

'a'

22. Reverse the order of words in a string.

In [19]:
# String
String = "PW Lab is a platform where we can perform coding for data science"

# We have split the word from the string
Split_String = String.split()

# Reverse the split words
Split_String[::-1]

['science',
 'data',
 'for',
 'coding',
 'perform',
 'can',
 'we',
 'where',
 'platform',
 'a',
 'is',
 'Lab',
 'PW']

23. Check if a string is alphanumeric.

In [20]:
# String
String = "ABC123"

# isalnum() method is used to check the alpha-numeric string.

String.isalnum()

#A string is alpha-numeric if all characters in the string are alpha-numeric and
#there is at least one character in the string.

True

24. Extract all digits from a string.

In [21]:
# String
String = "A B C 123"

# Created an empty list to append digits from the string
Digit = []

# We have iterate and split the string
for i in String.split():
    # We have used isnumeric() to find the digit from the string
    if i.isnumeric():
        # Append the integer into Digit.
        Digit.append(int(i))
# We have used the print function to print output.
print("All digit extracted from given string: ", Digit)

All digit extracted from given string:  [123]

25. Extract all alphabets from a string.

In [22]:
# String
String = "All alphabets extracted from given strings : 123"

# Created an empty list to append Alphabets from the string
Alphabets= []

# We have iterated the string
for i in String:
    # We have used isalpha() to find the Alphabets from the string
    if i.isalpha():
        # Append the alphabet into Alphabets.
        Alphabets.append(str(i))
# We have used the print function to print output.
print("All alphabets extracted from given strings: ", Alphabets)

All alphabets extracted from given strings:  ['A', 'l', 'l', 'a', 'l', 'p', 'h', 'a', 'b', 'e', 't', 's', 'e', 'x', 't', 'r', 'a', 'c', 't', 'e', 'd', 'f', 'r', 'o', 'm', 'g', 'i', 'v', 'e', 'n', 's', 't', 'r', 'i', 'n', 'g', 's']

26. Count the number of uppercase letters in a string

In [23]:
String = 'COUNT the number of uppercase letters in a STRING'
Split = String.split()                              # Splite the string
Uppercase_Latters = []                              # Uppercase_Latters = [] will hold the uppercase value
for i in Split:                                     # Iterate split string
    if i.isupper():                                 # It will check whether the string is uppercase or not
        Uppercase_Latters.append(i)                 # Uppend the uppercase string into Uppercase_Latters variable
print('Uppercase letters: ', Uppercase_Latters)     # Print the output.

Uppercase letters:  ['COUNT', 'STRING']

27. Count the number of lowercase letters in a string.

In [24]:
String = 'COUNT the number of uppercase letters in a STRING'
Split = String.split()                              # Splite the string
Lowercase_Latters = []                              # Lowercase_Latters = [] will hold the lowercase value
for i in Split:                                     # Iterate split string
    if i.islower():                                 # It will check whether the string is lowercase or not
        Lowercase_Latters.append(i)                 # Uppend the lowercase string into Lowercase_Latters variable
print('Lowercase Letters: ', Lowercase_Latters)     # Print the output.

Lowercase Letters:  ['the', 'number', 'of', 'uppercase', 'letters', 'in', 'a']

28. Swap the case of each character in a string.

In [25]:
String = 'PW Skills'
String[::-1]        # To swap the string we can use slicing.

'sllikS WP'

29. Remove a specific word from a string.

In [26]:
String = 'PW is Skills'
String.replace('is','')    # replace() function will use to remove spacific word from the String.

'PW  Skills'

30. Check if a string is a valid email address

In [27]:
from email_validator import validate_email, EmailNotValidError
def check(email):
	try:
	# validate and get info
		v = validate_email(email) 
		# replace with normalized form
		email = v["email"] 
		print("True")
	except EmailNotValidError as e:
		# email is not valid, the exception message is human-readable
		print(str(e))

check("my.ownsite@our-earth.org")
check("ankitrai326.com")

True
The email address is not valid. It must have exactly one @-sign.

C:\Users\astral.rajkumar\AppData\Local\Temp\ipykernel_25232\2426089123.py:7: DeprecationWarning: dict-like access to the return value of validate_email is deprecated and may not be supported in the future.
  email = v["email"]

In [28]:
! python --version

Python 3.11.5

In [29]:
pip install email_validator

Requirement already satisfied: email_validator in c:\users\astral.rajkumar\appdata\local\anaconda3\lib\site-packages (2.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython>=2.0.0 in c:\users\astral.rajkumar\appdata\local\anaconda3\lib\site-packages (from email_validator) (2.6.1)
Requirement already satisfied: idna>=2.0.0 in c:\users\astral.rajkumar\appdata\local\anaconda3\lib\site-packages (from email_validator) (3.4)

31. Extract the username from an email address string.

In [30]:
# Define a function to extract the name from an email address
def test(email_address):
    # Find the index of the '@' symbol in the email address
    r = email_address.index("@")
    
    # Use a generator expression to join alphabetic characters before the '@' symbol
    return "".join(l for l in email_address[:r] if l.isalpha())

# Initialize an email address
email_address = "rajkumar.rajbhar2605@gmail.com"
print("Original Email:", email_address)

# Print a message indicating the extraction of the name from the email address
print("Extract the name from the said Email address:")

# Call the function to extract the name and print the result
print(test(email_address))

Original Email: rajkumar.rajbhar2605@gmail.com
Extract the name from the said Email address:
rajkumarrajbhar

32. Extract the domain name from an email address string.

In [31]:
# Extract domain name from Email address
# Using index() + slicing 

# initializing strings
test_str = 'rajkumar.rajbhar2605@gmail.com'

# printing original string
print("The original string is : " + str(test_str))

# slicing domain name using slicing 
res = test_str[test_str.index('@') + 1 : ]

# printing result 
print("The extracted domain name : " + str(res))

The original string is : rajkumar.rajbhar2605@gmail.com
The extracted domain name : gmail.com

33. Replace multiple spaces in a string with a single space.

In [32]:
# String
String = "Replace   multiple    spaces in a   string with a single space."
#Split = String.split()   
#print(' '.join(Split))
print("Below string is after removed extra spaces\n")
print(' '.join(String.split()))    # Here first split the string and then join it together

Below string is after removed extra spaces

Replace multiple spaces in a string with a single space.

34. Check if a string is a valid URL.

In [33]:
String = "Our official website is https://accounts.pwskills.com/login?domain=pwskills.com&redirectUrl=%2F&action=logout and my account is https://pwskills.com/learn/"
Split = String.split()
URL = []
for i in Split:
    if i.startswith('https') or i.startswith('htts'):
        URL.append(i)
print('URLs: ', URL)

URLs:  ['https://accounts.pwskills.com/login?domain=pwskills.com&redirectUrl=%2F&action=logout', 'https://pwskills.com/learn/']

35. Extract the protocol (http or https) from a URL string.

In [34]:
# String
String = "https://accounts.pwskills.com/login?domain=pwskills.com&redirectUrl=%2F&action=logout"

# find the index of the specified string.
Index = String.index(':')

# Empty list to hold the value
Protocol = []

#Iterator with string slicing
for i in String[:Index]:
    if i.isalpha():      
        Protocol.append(i)

# Join the characters.
print(''.join(Protocol))

https

36. Find the frequency of each character in a string.

In [35]:
# Python3 code to demonstrate
# each occurrence frequency using
# naive method

# initializing string
String = "Find the frequency of each character in a string."

# using the naive method to get the count of each element in the string
all_freq = {}
for i in test_str:
	if i in all_freq:
		all_freq[i] += 1
	else:
		all_freq[i] = 1
# printing result
print("Count of all characters in GeeksforGeeks is :\n ", str(all_freq))

Count of all characters in GeeksforGeeks is :
  {'r': 4, 'a': 5, 'j': 2, 'k': 1, 'u': 1, 'm': 3, '.': 2, 'b': 1, 'h': 1, '2': 1, '6': 1, '0': 1, '5': 1, '@': 1, 'g': 1, 'i': 1, 'l': 1, 'c': 1, 'o': 1}

In [36]:
# Need to check Q.36

37. Remove all punctuation from a string.

In [37]:
import string
String = "What are All: of the Punctuation Marks?"
String = String.translate(str.maketrans('', '', string.punctuation))
print(String)

What are All of the Punctuation Marks

38. Check if a string contains only digits.

In [38]:
String = input("Please enter your string:  ")
#String = 'Rajkumar Rajbhar roll number is 1001'
if String.isdigit():
    print(True)
else:
    print(False)

Please enter your string:   q

False

39. Check if a string contains only alphabets.

In [39]:
String = input("Please enter your string:  ")
#String = 'Rajkumar Rajbhar roll number is 1001'
if String.isalpha():
    print(True)
else:
    print(False)

Please enter your string:   q

True

40. Convert a string to a list of characters.

In [40]:
String ="Convert a string to a list of characters"
Char = []
for i in String:
    Char.append(i)
print(Char)

['C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'a', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's']

41. Check if two strings are anagrams.

In [41]:
S1 = 'listen'
S2 = 'silent'
# The sorted strings are checked 
if sorted(S1) == sorted(S2):
    print("Yes! strings are anagrams")
else:
    print('Ohh no.. strings are not anagrams')

Yes! strings are anagrams

42. Encode a string using a Caesar cipher.

In [42]:
#A Python program to illustrate the Caesar Cipher Technique

def encrypt(text,s):
	result = ""

	# traverse text
	for i in range(len(text)):
		char = text[i]

		# Encrypt uppercase characters
		if (char.isupper()):
			result += chr((ord(char) + s-65) % 26 + 65)
		# Encrypt lowercase characters
		else:
			result += chr((ord(char) + s - 97) % 26 + 97)

	return result



#check the above function
text = "ATTACKATONCE"
s = 4
print ("Text: " + text)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

Text: ATTACKATONCE
Shift : 4
Cipher: EXXEGOEXSRGI

43. Decode a Caesar cipher encoded string.

In [43]:
def decode_caesar_cipher(encoded_string, shift):
    decoded_string = ""
    for char in encoded_string:
        if char.isalpha():
            # Get the ASCII value of the character.
            ascii_value = ord(char)
            # Shift the character back by the shift value.
            ascii_value -= shift

            # Wrap around if the character goes below 'A'.
            if ascii_value < ord('A'):
                ascii_value += 26
                # Convert the ASCII value back to a character.
            decoded_string += chr(ascii_value)
        else:
          # Add the non-alphabetic character to the decoded string.
            decoded_string += char

    return decoded_string

# Example usage:

encoded_string = "Uryyb"
shift = 3
decoded_string = decode_caesar_cipher(encoded_string, shift)
print(decoded_string)

Rovv_

44. Find the most frequent word in a string.

In [44]:
# Python3 code to demonstrate the working of
# Most frequent word in Strings List
# Using loop + max() + split() + defaultdict()
from collections import defaultdict

# initializing Matrix
test_list = ["gfg is best for geeks", "geeks love gfg", "gfg is best"]

# printing original list
print("The original list is : " + str(test_list))

temp = defaultdict(int)

# memoizing count
for sub in test_list:
	for wrd in sub.split():
		temp[wrd] += 1

# getting max frequency
res = max(temp, key=temp.get)

# printing result
print("Word with maximum frequency : " + str(res))

The original list is : ['gfg is best for geeks', 'geeks love gfg', 'gfg is best']
Word with maximum frequency : gfg

45. Find all unique words in a string.

In [45]:
x = input()   # User input
unique_characters = set(x)   # user input will convert into set
print(unique_characters)     # print output.

 q

{'q'}

46. Count the number of syllables in a string.

In [46]:
"""Counts the number of syllables in a word.
  Args:
    word: A string.
  Returns:
    The number of syllables in the word.
"""
def count_syllables(word):
    # Convert the word to lowercase.
    word = word.lower()

    # Count the number of vowels.
    num_vowels = 0
    for char in word:
        if char in "aeiouy":
            num_vowels += 1

    # Count the number of syllables.
    num_syllables = 0
    for i in range(len(word)):
        if word[i] in "aeiouy" and (i == 0 or word[i - 1] not in "aeiouy"):
            num_syllables += 1

    # If the word ends in "e", remove it unless it is preceded by another vowel.
    if word[-1] == "e" and word[-2] not in "aeiouy":
        num_syllables -= 1

    # Return the number of syllables.
    return num_syllables

# Print the output of the given input

print(count_syllables("hello"))  # 2
print(count_syllables("computer"))  # 3
print(count_syllables("elephant"))  # 3
print(count_syllables("facetious"))  # 4
print(count_syllables("rhythmically"))  # 5

2
3
3
3
4

47. Check if a string contains any special characters.

In [47]:
def has_special_char(s):
    for c in s:
        if not (c.isalpha() or c.isdigit() or c == ' '):
            return True
    return False
    
# Test the function
s = "Hello World"
if has_special_char(s):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

s = "Hello@World"
if has_special_char(s):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string does not contain special characters.
The string contains special characters.

49. Insert a word at the nth position in a string.

In [48]:
def insert_word_at_nth_position(string, word, n):

  # Check if the position is valid.
  if n < 0 or n > len(string):
    raise ValueError("Invalid position.")

  # Split the string into two parts at the nth position.
  first_part = string[:n]
  second_part = string[n:]

  # Insert the word into the first part.
  new_string = first_part + word + second_part

  # Return the new string.
  return new_string

# Example usage:
string = "This is a test string."
word = "hello"
n = 5
new_string = insert_word_at_nth_position(string, word, n)
print(new_string)

This hellois a test string.

50. Convert a CSV string to a list of lists.

In [49]:
# Here we are importing csv module
import csv

# Creating a function.
def convert_csv_string_to_list_of_lists(csv_string):
    
    reader = csv.reader(csv_string.splitlines())
    list_of_lists = []
    for row in reader:
        list_of_lists.append(row)
    return list_of_lists

# Example usage:
csv_string = """
name, age, occupation
Alice, 25, Software Engineer
Bob, 30, Data Scientist
Carol,28, Product Manager
"""

list_of_lists = convert_csv_string_to_list_of_lists(csv_string)
print(list_of_lists)

[[], ['name', ' age', ' occupation'], ['Alice', ' 25', ' Software Engineer'], ['Bob', ' 30', ' Data Scientist'], ['Carol', '28', ' Product Manager']]

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [50]:
# list created with integers from 1 to 10
List = [1,2,3,4,5,6,7,8,9,10]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [51]:
Count = 0
for i in List:
    Count+=1

print('Length of string: ', Count)

Length of string:  10

3. Append an element to the end of a list.

In [52]:
List.append(11)
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [53]:
List.insert(3,3.5)
print(List)

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value.

In [54]:
List.remove(3)
print(List)

[1, 2, 3.5, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its index.

In [55]:
List.pop(5)
print(List)

[1, 2, 3.5, 4, 5, 7, 8, 9, 10, 11]

7. Check if an element exists in a list.

In [61]:
List1 = [1,2,3,4,5,6,7,8]
a = int(input("Please enter an element"))
if a in List1:
    print('Yes! the given element is exist into the list ')
else:
    print("Oh! an element t does not exist")

Please enter an element 1

Yes! the given element is exist into the list

8. Find the index of the first occurrence of an element in a list.

In [73]:
List1 = [1,2,2,3,4,5,6,7,8,1]   # List created
Element = 2                   # Assign 1 to a variable.
index = List1.index(Element)  # Here we are using index() fun to check the first occurence
print(index)

1

9. Count the occurrences of an element in a list.

In [74]:
numbers = [3, 1, 2, 3, 3, 4, 5, 6, 3, 7, 8, 9, 10]
element = 3
indices = [i for i, num in enumerate(numbers) if num == element]
print(indices)

[0, 3, 4, 8]

10. Reverse the order of elements in a list.

In [77]:
List1 = [1,2,3,4,5,6,7,8]
List1.reverse()  # We used the reverse() fun to reverse the element of the list
print("Reverse element of existing list : ",List1)

Reverse element of existing list :  [8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [91]:
#Python program to print a list 
# without using the sort() function
# without an extra variable

l1=[76, 23, 45, 12, 54, 9] 
print("Original List:", l1)

# Sorting list using nested loops
for i in range(len(l1)):
	for j in range(i+1, len(l1)):
		if l1[i] >= l1[j]:
			l1[i], l1[j] = l1[j],l1[i]
            
# sorted list
print("Sorted List in ascending order: ", l1)

Original List: [76, 23, 45, 12, 54, 9]
Sorted List in ascending order:  [9, 12, 23, 45, 54, 76]

In [90]:
# We can use sort() method to sort the element.
l1=[76, 23, 45, 12, 54, 9]
l1.sort()
print('Ascending order :',l1)

Ascending order : [9, 12, 23, 45, 54, 76]

12. Sort a list in descending order.

In [87]:
#Python program to print a list without using the sort() function without an extra variable.

l1=[76, 23, 45, 12, 54, 9] 
print("Original List:", l1)

# Sorting list using nested loops
for i in range(len(l1)):
	for j in range(i+1, len(l1)):
		if l1[i] <= l1[j]:
			l1[i], l1[j] = l1[j],l1[i]
            
# sorted list
print("Sorted List in descending order", l1)

Original List: [76, 23, 45, 12, 54, 9]
Sorted List [76, 54, 45, 23, 12, 9]

In [89]:
# We can use sort() method and reverse = True to sort the element.
l1=[76, 23, 45, 12, 54, 9]
l1.sort(reverse=True)
print("Descending Order: ",l1)

Descending Order:  [76, 54, 45, 23, 12, 9]

13. Create a list of even numbers from 1 to 20.

In [103]:
Number = 20
Even_Number = []
for i in range(1,20):
    if (i%2!=0):
        i+=1
        Even_Number.append(i)
print("Even Number in list: ",Even_Number)

Even Number in list:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [104]:
Number = 20
Odd_Number = []
for i in range(1,20):
    if (i%2==0):
        i+=1
        Odd_Number.append(i)
print("Odd Number in list: ",Odd_Number)

Odd Number in list:  [3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [111]:
List = [3, 5, 7, 9, 11, 13, 15, 17, 19]    # We have taken a list
Sum = 0                                    # A variable created with zero value
for i in List:                             # We used for loop for iterarion of the list elements
    Sum = Sum+i                            # Sum logic
print("Sum of list elements = ", Sum)

Sum of list elements =  99

16. Find the maximum value in a list.

In [112]:
List = [1,3,2,4]
max(List)

4

In [117]:
# Function cretaed
def myMax(list1):
	max = list1[0]    # created a varaible and assign to list index
	for x in list1:
		if x > max:   # Condition to check largest value
			max = x
	return max

# Driver code
list1 = [10, 20, 4, 45, 99]
print("Largest element is:", myMax(list1))

Largest element is: 99

17. Find the minimum value in a list.

In [119]:
# Function cretaed
def mySmall(list1):
	max = list1[0]    # created a varaible and assign to list index
	for x in list1:
		if x < max:    # Condition to check smallest value
			max = x
	return max

# Driver code
list1 = [10, 20, 4, 45, 99]
print("Smallest element is:", mySmall(list1))

Smallest element is: 4

18. Create a list of squares of numbers from 1 to 10.

In [20]:
Number = [1,2,3,4,5,6,7,8,9,10]
print("Square root of the list : [1,2,3,4,5,6,7,8,9,10] ")
for i in Number:
    print(i*i, end=" | ")   # this line of code is for square root

Square root of the list : [1,2,3,4,5,6,7,8,9,10]
1 | 4 | 9 | 16 | 25 | 36 | 49 | 64 | 81 | 100 |

19. Create a list of random numbers.

In [21]:
import random

In [36]:
Random_Number_List = []      # Empty List
Number = 10
#Random_Number = random.randint(1,10)
for Random in range(Number):
    Random_Number_List.append(random.randint(1,10))      # random.randint() function is used to generate the random number
print(Random_Number_List)                                # append() method is used to append random numbers into Random_Number_List = []

[7, 3, 3, 6, 5, 10, 3, 1, 9, 1]

20. Remove duplicates from a list.

In [ ]:
def remove_duplicates(list1):     # we have created a function
    set1 = set()                  # create a set() function
    for item in list1:            # for loot to iterate list element
        if item not in set1:      # this condition to check whether item is in set1 or not if no then
            set1.add(item)        # item will add into set1
    list1 = list(set1)
    return list1

# driver code
list1 = [1, 2, 3, 4, 5, 1, 2, 3]  
print(remove_duplicates(list1))   # function call

21. Find the common elements between two lists.

In [7]:
List1 = [1,2,3,4]           # List1 created
List2 = [1,2,5,6]           #List2 created
Common_Element = []         # Empty list created
for Element in List1:       # Iterate the list
    if Element in List2:    # this login is used to check whether List1 element is exist into List2 or not
        Common_Element.append(Element)     # If both lists have the same element then it will append the common element into the empty list.
print("The common element of both list : ",Common_Element)       # print the output.

The common element of both list :  [1, 2]

22. Find the difference between two lists.

In [10]:
List1 = [1,2,3,4]           # List1 created
List2 = [1,2,5,6]           #List2 created
Diff_Element = []         # Empty list created
for Element in List1:       # Iterate the list
    if Element not in List2:    # this login is used to check whether List1 element is exist into List2 or not
        Diff_Element.append(Element)     # Different elements will append into an empty list.
print("The different elements of both list : ",Diff_Element)       # print the output.

The different elements of both list :  [3, 4]

23. Merge two lists.

In [13]:
List1 = [1,2,3,4,5,6]
List2 = [7,8,1,2,3]
List1.extend(List2)  # extand() is used to merge two list.
print("Merge list: ",List1)

Merge list:  [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3]

24. Multiply all elements in a list by 2.

In [15]:
Number = [1,2,3,4,5,6,7,8,9,10]
print("Multiply all elements in a list by 2 : [1,2,3,4,5,6,7,8,9,10] ")
for i in Number:
    print(i*2, end=" | ")

Multiply all elements in a list by 2 : [1,2,3,4,5,6,7,8,9,10]
2 | 4 | 6 | 8 | 10 | 12 | 14 | 16 | 18 | 20 |

25. Filter out all even numbers from a list.

In [18]:
Number = [1,2,3,4,5,6,7,8,9,10]
Even_Number = []
print("Original List : [1,2,3,4,5,6,7,8,9,10] ")
for i in Number:
    if i%2==0:
        Even_Number.append(i)
    i=+1
print("Even Number in the list:", Even_Number)

Original List : [1,2,3,4,5,6,7,8,9,10]
Even Number in the list: [2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [26]:
String_List =['1','2','3','4'] 
# using map() to perform conversion
Modified_List = list(map(int, String_List))
# Printing modified list
print("Modified list :", Modified_List)

Now modified list : [1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [27]:
Int_List =[1, 2, 3, 4] 
# using map() to perform conversion
Modified_List = list(map(str, Int_List))
# Printing modified list
print("Modified list :", Modified_List)

Modified list : ['1', '2', '3', '4']

28. Flatten a nested list.

In [30]:
Flatten = [i for row in [[1,3,"PW"], [4,5],[6,"Skill"]] for i in row]  # we used list comprehension t
print("Flatten List:",Flatten)

Flatten List: [1, 3, 'PW', 4, 5, 6, 'Skill']

29. Create a list of the first 10 Fibonacci numbers.

In [8]:
Num = 10
Num1 = 0
Num2 = 1
count = 1
Next_Number = 1
print(Num1,Num2, end=" ")
while count <= Num:                   # Logic implemented here
    print(Next_Number, end=" ")       # Print the next number
    count += 1                        # Count will increase when the condition becomes true.
    Num1, Num2 = Num2, Next_Number    # Assign number here
    Next_Number = Num1 + Num2         
print()

0 1 1 2 3 5 8 13 21 34 55 89

30. Check if a list is sorted.

In [15]:
# Python3 code to demonstrate to check if the list is sorted using naive method 

# initializing list
test_list = [3,1, 4, 5, 8, 10]

# printing original list 
print ("Original list : " + str(test_list))

# Using the naive method to check the sorted list 
flag = 0
i = 1
while i < len(test_list):
	if(test_list[i] < test_list[i - 1]):
		flag = 1
	i += 1
	
# printing result
if (not flag) :
	print ("Yes, List is sorted.")
else :
	print ("No, List is not sorted.")

Original list : [3, 1, 4, 5, 8, 10]
No, List is not sorted.

31. Rotate a list to the left by `n` positions.

In [35]:
List = [1,2,3,4,5,6,7,8,9,10]
List1 = List[5:] + List[:5]     # Left to right rotation
print(List1)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

32. Rotate a list to the right by `n` positions.

In [36]:
List = [1,2,3,4,5,6,7,8,9,10]
List1 = List[-4:] + List[:-4]       #Right to left rotetion
print(List1)

[7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

33. Create a list of prime numbers up to 50.

In [39]:
Number = 50
Odd_Number = []
for i in range(1,50):
    if (i/i==0):
        i+=1
        Odd_Number.append(i)
print("Odd Number in list: ",Odd_Number)

Odd Number in list:  []

34. Split a list into chunks of size `n`.

In [16]:
my_list = [1,2,3,4,5,6,7,8,9] 
Start = 0
End = len(my_list)
Step = 3
# for loop to iterate the my_list till end
for i in range(Start, End, Step):

    # store i value into x variable
    x = i
    # Here we are slicing mylist 
    print(my_list[x:x+Step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [37]:
# Python program to find the second largest number in a list

list1 = [10,20,4,45,99,100,154,60]

# Check the max number b/w 0 and 1 index
Max = max(list1[0], list1[1]) 

# Check the nim number b/w 0 and 1 index
Second_Max = min(list1[0], list1[1]) 

# check the length of list
n = len(list1)

# iterate loop from index 2
for i in range(2,n): 
    # here we will check the condition if list1[i] > Max satisfied then Max value will assign to Secondmax and Index of i will assign to Max
	if list1[i] > Max: 
		Second_Max = Max
		Max = list1[i] 
    # If the above condition is false then elif condition will exicute
	elif (list1[i] > Second_Max) and (Max != list1[i]): 
		Second_Max = list1[i]
    # If the above condition is false then elif condition will exicute
	elif (Max == Second_Max) and (Second_Max != list1[i]):
		Second_Max = list1[i]
# It will print the second max value from the list.
print("Second highest number is : ", str(Second_Max))

Second highest number is :  100

36. Replace every element in a list with its square.

In [124]:
my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list)):
        my_list[i] = my_list[i]**2
print(my_list)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [126]:
my_list = [1, 2, 3, 4, 5]
Dict = dict.fromkeys(my_list)
print(Dict)

{1: None, 2: None, 3: None, 4: None, 5: None}

38. Shuffle the elements of a list randomly.

In [134]:
import random

test_list = [1, 4, 5, 6, 3]

print("The original list is : " + str(test_list))

# using random.shuffle() to shuffle a list
random.shuffle(test_list)

print("The shuffled list is : " + str(test_list))

The original list is : [1, 4, 5, 6, 3]
The shuffled list is : [3, 1, 5, 4, 6]

39. Create a list of the first 10 factorial numbers.

In [136]:
Num = 10
Num1 = 0
Num2 = 1
count = 1
Next_Number = 1
print(Num1,Num2, end=" ")
while count <= Num:                   # Logic implemented here
    print(Next_Number, end=" ")       # Print the next number
    count += 1                        # Count will increase when the condition becomes true.
    Num1, Num2 = Num2, Next_Number    # Assign number here
    Next_Number = Num1 + Num2         
print()

0 1 1 2 3 5 8 13 21 34 55 89

40. Check if two lists have at least one element in common.

In [142]:
# Create a function
def Common_Data(List1, List2):    
    Result = False     
    #Uterate both list one by one
    for i in List1:
        for j in List2:
            if i==j:
                Result = True
                return Result
    return Result
List1 = [1,2,3,4,5]
List2 = [5,6,7,8,9]
# Function call
print("Is any common data here? ",Common_Data(List1,List1))

Is any common data here?  True

41. Remove all elements from a list.

In [152]:
List1 = [1,2,3,4,5]
# to remove all element from list we use clear() method
List1.clear()
print(List1)

[]

42. Replace negative numbers in a list with 0.

In [168]:
List1 = [1,-2,3,-4,5]
print("List before change", List1)
for i in range(len(List1)):
    # Here we check whether list element is less then 0 or not
    if List1[i]<0:    
        List1[i] = 0
print("List1 after change", List1)

List before change [1, -2, 3, -4, 5]
List1 after change [1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [171]:
String = "PW SKILLS"
list(String)

['P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S']

44. Convert a list of words into a string.

In [189]:
List1 = ['P','W',' ','S','K','I','L','L','S']
result = "{}{}{}{}{}{}{}{}{}".format(*List1)
print(result)

PW SKILLS

45. Create a list of the first `n` powers of 2.

In [223]:
def Power(n):
    My_List = []
    for i in range(1,n+1):
        Squred_Num = i**2
        My_List.append(Squred_Num)
    return My_List
# Function Call
print("Squired Number: ", Power(6))

Squired Number:  [1, 4, 9, 16, 25, 36]

46. Find the longest string in a list of strings.

In [235]:
def Longest_String(s):
    Max_Len = -1
    for i in My_List:
        if len(i)>Max_Len:
            Max_Len = len(i)
            Res = i
    return Res
    
# driver code
My_List = ['Find',' ','the',' ', 'longest',' ', 'string',' ', 'in',' ', 'a',' ', 'list',' ', 'of',' ', 'strings']
print("Our Longest String In The List: ",Longest_String(My_List))

Our Longest String In The List:  longest

47. Find the shortest string in a list of strings.

In [253]:
# Python3 code to demonstrate working of Minimum String length using reduce() + lambda function
from functools import reduce

# Initialize list
test_list = ['PW', 'SKILLS', 'FOR','EVERYONE']

# Printing original list
print("The original list : " + str(test_list))

# Minimum String length using reduce() + lambda function
res = reduce(lambda x, y: x if len(x) < len(y) else y, test_list)
print("Length of minimum string is : " + str(res))

The original list : ['PW', 'SKILLS', 'FOR', 'EVERYONE']
Length of minimum string is : PW

48. Create a list of the first `n` triangular numbers.

In [271]:
# Function to find triangular number
def triangular_series( n ):
	j = 1
	k = 1
    
	# For each iteration increase j by 1 and add it to k
	for i in range(1, n + 1):
		print(k, end = ' ')
		j = j + 1 # Increasing j by 1
		
		# Add the value of j into k and update k
		k = k + j 
		
# Driven Code
n = 5
print('Triangular Numbers', end=' : ')
triangular_series(n)

Triangular Numbers : 1 3 6 10 15

49. Check if a list contains another list as a subsequence.

In [273]:
# Function
def removeElements(A, B):
	
	for i in range(len(B)-len(A)+1):
		for j in range(len(A)):
			if B[i + j] != A[j]:
				break
		else:
			return True
	
	return False

# Initializing lists 
A = [1, 2]
B = [1, 2, 3, 1, 1, 2, 2]

# Printing result 
print(removeElements(A, B))

True

50. Swap two elements in a list by their indices.

In [277]:
# Swap function
def Swap_Positions(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(Swap_Positions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [300]:
Tuple = (1,2,3,4,5)
type(Tuple)
print(Tuple, type(Tuple))

(1, 2, 3, 4, 5) <class 'tuple'>

2. Access the third element of a tuple.

In [306]:
Tuple = (1,2,3,4,5)
print("Access the third element of a tuple: ",Tuple[2])

Access the third element of a tuple:  3

3. Find the length of a tuple without using the `len()` function.

In [308]:
Tuple = (1,2,3,4,5)
len(Tuple)

5

4. Count the occurrences of an element in a tuple.

In [324]:
tuple1 = (3, 1, 2, 3, 3, 4, 5, 6, 3, 7, 8, 9, 10)
indices = [i for i in tuple1 if i == 3]
print("the element 3 occurs", len(indices), "times")

the element 3 occurs 4 times

5. Find the index of the first occurrence of an element in a tuple.

In [15]:
my_tuple = (10,1, 2, 3, 2, 4, 2, 5)
index = my_tuple.index(10)
print(index)

0

6. Check if an element exists in a tuple.

In [5]:
Num = 10
Tuple = (1,2,4,6,10,8,9)
for i in range(len(Tuple)):
    if Tuple[i]==Num:
        print("Element exist in the tuple")
        #break

Element exist in the tuple

7. Convert a tuple to a list.

In [330]:
Tuple = (1,2,3,4,5,6)
print("Convert a tuple to a list:",list(Tuple))

Convert a tuple to a list: [1, 2, 3, 4, 5, 6]

8. Convert a list to a tuple.

In [332]:
List = [1,2,3,4,5,6]
Tuple = tuple(List)
print("Convert a list to a tuple:", Tuple)

Convert a list to a tuple: (1, 2, 3, 4, 5, 6)

9. Unpack the elements of a tuple into variables.

In [340]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"  

# Packing a tuple
fruits = ("apple", "banana", "cherry")

#Unpacking a tuple
(green, yellow, red) = fruits

# print the value
print(green)
print(yellow)
print(red)

apple
banana
cherry

10. Create a tuple of even numbers from 1 to 10.

In [42]:
Tuple = (1,2,3,4,5,6,7,8,9,10)
print("Tuple Items = ", Tuple)

print("\nThe Even Numbers in this Tuple are:")
for i in range(len(Tuple)):
    if(Tuple[i] % 2 == 0):
        print(Tuple[i], end = " | ")

Tuple Items =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

The Even Numbers in this Tuple are:
2 | 4 | 6 | 8 | 10 |

11. Create a tuple of odd numbers from 1 to 10.

In [40]:
# Tuple Odd Numbers
Tuple = (1,2,3,4,5,6,7,8,9,10)
print("Tuple Items = ", Tuple)

print("\nThe Odd Numbers in this Tuple are:")
for i in range(len(Tuple)):
    if(Tuple[i] % 2 != 0):
        print(Tuple[i], end = " | ")

Tuple Items =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

The Odd Numbers in this Tuple are:
1 | 3 | 5 | 7 | 9 |

12. Concatenate two tuples.

In [49]:
Tuple1 = (1,2,3)
Tuple2 = (5,6,0)
Concatinated_Tuple = Tuple1+Tuple2
print("Concatinated Tuple : ",Concatinated_Tuple)

Concatinated Tuple :  (1, 2, 3, 5, 6, 0)

13. Repeat a tuple three times.

In [55]:
Tuple = (1,2,3)
Repeat_Tuple = (Tuple,)*3
print(Repeat_Tuple)

((1, 2, 3), (1, 2, 3), (1, 2, 3))

14. Check if a tuple is empty.

In [76]:
Tuple = ()
if not Tuple:
    print("Tuple is empty")
else:
    print('Tuple is not empty')

Tuple is not empty

15. Create a nested tuple.

In [79]:
#zCreate a nested tuple.
Nested_Tuple = (1,2,3,(5,4,7),(8,9,(10,11)))
print(Nested_Tuple)

(1, 2, 3, (5, 4, 7), (8, 9, (10, 11)))

16. Access the first element of a nested tuple.

In [86]:
Nested_Tuple = [['d51', 'd874', 'd486', 'd329', 'd1328', 'd1268', 'd114', 'd792', 'd717', 'd522'], ['d51', 'd874', 'd486', 'd329', 'd1328', 'd1268']]
new = [[item[0] for item in inner] for inner in Nested_Tuple]
print(new)

[['d', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd'], ['d', 'd', 'd', 'd', 'd', 'd']]

17. Create a tuple with a single element.

In [93]:
Tuple = (1)
print("tuple with a single element: ",Tuple)

tuple with a single element:  1

18. Compare two tuples.

In [103]:
tuple1 = (1, 2, 3)
tuple2 = (0, 1, 0)
print("The original tuple 1 : " ,tuple1) 
print("The original tuple 2 : " ,tuple2) 
res = False
if tuple2 > tuple1:
    res = True
# printing result
print("Are all elements in second tuple greater than first ? : " + str(res))

The original tuple 1 :  (1, 2, 3)
The original tuple 2 :  (0, 1, 0)
Are all elements in second tuple greater than first ? : False

19. Delete a tuple.

In [113]:
Tuple = (1,2)
del Tuple
print(Tuple)

NameError: name 'Tuple' is not defined

20. Slice a tuple.

In [116]:
Tuple = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print(Tuple[1:9:2])

(3, 4, 2, 890)

21. Find the maximum value in a tuple.

In [131]:
Tuple = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
Max_Value=max(Tuple)
print("Maximum value in a tuple: ",Max_Value)

Maximum value in a tuple:  890

22. Find the minimum value in a tuple.

In [134]:
Tuple = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
Min_Value=min(Tuple)
print("Minimum value in a tuple: ",Min_Value)

Minimum value in a tuple:  1

23. Convert a string to a tuple of characters.

In [139]:
String = 'PW SKILLS'
Tuple = tuple(String)
print("Converted string into the tuple is: ",Tuple)

Converted string into the tuple is:  ('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')

24. Convert a tuple of characters to a string.

In [148]:
Tuple = ('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')
String = ''.join(Tuple)
print("Converted tuple into the string is: ",String)

Converted tuple into the string is:  PW SKILLS

25. Create a tuple from multiple data types.

In [151]:
#tuple from multiple data types.
Tuple = ('PW', 'Skills', 2024, 20000.0,)
print(Tuple)

('PW', 'Skills', 2024, 20000.0)

26. Check if two tuples are identical.

In [158]:
# initialize list of tuples 
test_list1 = [(10, 4), (2, 5)] 
test_list2 = [(10, 4), (2, 5)] 

# printing original tuples lists 
print("The original list 1 : " + str(test_list1)) 
print("The original list 2 : " + str(test_list2)) 

# Check if two list of tuples are identical 
# using == operator 
if test_list1 == test_list2:
    print("Yes! tuple lists is identical")
else:
    print("Oh No! tuple lists is not identical")

The original list 1 : [(10, 4), (2, 5)]
The original list 2 : [(10, 4), (2, 5)]
Yes! tuple lists is identical

27. Sort the elements of a tuple.

In [169]:
Tuple = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print("The original tuple :", Tuple)
Sorted_Tuple = sorted(Tuple)
print("Sorted Tuple: ",Sorted_Tuple)

The original tuple is : (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
Sorted Tuple:  [1, 2, 2.4, 3, 4, 22, 45, 56, 890]

28. Convert a tuple of integers to a tuple of strings.

In [186]:
Tuple = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
Tuple_Str =''.join(map(str, Tuple))
print(Tuple_Str)

2234542.42568901

29. Convert a tuple of strings to a tuple of integers.

In [199]:
Tuple = ('22', '3', '45', '4', '24', '2', '56', '890', '1')
Tuple_Int =tuple(map(int, Tuple))
print(Tuple_Int)

(22, 3, 45, 4, 24, 2, 56, 890, 1)

30. Merge two tuples.

In [206]:
# Approch-1
Tuple1 = (1,2,3)
Tuple2 = (5,6,0)
Marge_Tuple = Tuple1+Tuple2
print("Marged Tuple : ",Marge_Tuple)

# Approch-2

tuple1 = ('a', 'b', 'c')
tuple2 = ('d', 'e', 'f')

# The asterisk (*) is used to unpack the elements of the tuples which are then repacked into a new tuple.
merged_tuple = (*tuple1, *tuple2)   
print(merged_tuple)

Marged Tuple :  (1, 2, 3, 5, 6, 0)
('a', 'b', 'c', 'd', 'e', 'f')

31. Flatten a nested tuple.

In [1]:
# Python3 code to demonstrate working of 
# Flatten Nested Tuples
# Using recursion + isinstance()

# helper function
def flatten(test_tuple):
	
	if isinstance(test_tuple, tuple) and len(test_tuple) == 2 and not isinstance(test_tuple[0], tuple):
		res = [test_tuple]
		return tuple(res)

	res = []
	for sub in test_tuple:
		res += flatten(sub)
	return tuple(res)

# initializing tuple
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))

# printing original tuple
print("The original tuple : " + str(test_tuple))

# Flatten Nested Tuples
# Using recursion + isinstance()
res = flatten(test_tuple)

# printing result 
print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : ((4, 5), (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

32. Create a tuple of the first 5 prime numbers.

In [2]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [5]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

34. Create a tuple of squares of numbers from 1 to 5.

In [9]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [12]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [15]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [17]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (88, 12, 85, 75, 87, 46, 56, 84, 18, 27)

38. Check if a tuple is sorted.

In [20]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [27]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [30]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [33]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [36]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  RAJKUMAR, RAJBHAR

User input tuple: ('RAJKUMAR', ' RAJBHAR')

43. Swap two elements in a tuple.

In [39]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [42]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [45]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [48]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [51]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [54]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [57]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [83]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [89]:
# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Step 3: Print the final set
print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [92]:
# Step 1: Create a set
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Add an element to the set
element_to_add = 6
my_set.add(element_to_add)

# Step 4: Display the modified set
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [98]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

4. Check if an element exists in a set.

In [103]:
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  4

4 does not exist in the set.

5. Find the length of a set without using the `len()` function.

In [106]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

6. Clear all elements from a set.

In [109]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [112]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [115]:
# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [118]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [121]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection using the intersection() method
intersection_result = set1.intersection(set2)

# Print the original sets and the intersection
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

11. Find the difference between two sets.

In [124]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

12. Check if a set is a subset of another set.

In [126]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [128]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [145]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [148]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

16. Remove a random element from a set.

In [152]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

17. Pop an element from a set.

In [136]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [157]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

19. Find the symmetric difference between two sets.

In [160]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [163]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [166]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [169]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [174]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [177]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [180]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [183]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27. Multiply all elements in a set by 2.

In [186]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [189]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {5, 9, 44, 47, 20}

29. Check if a set is empty.

In [192]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [195]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [198]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [201]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [204]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'h', 'o', 'l', 'e'}

34. Convert a set of strings to a set of integers.

In [207]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [210]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'1', '2', '3', '5', '4'}

36. Create a set from a tuple.

In [213]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [216]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [219]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [222]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

40. Create a set from user input.

In [225]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  done

Final set: set()

41. Check if the intersection of two sets is empty.

In [228]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [231]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [234]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [237]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [240]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [243]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [246]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  45

The set of the first 45 triangular numbers is: {1, 3, 6, 903, 136, 10, 1035, 780, 15, 528, 276, 21, 406, 153, 666, 28, 36, 171, 300, 45, 561, 946, 435, 820, 55, 190, 703, 66, 325, 78, 465, 210, 595, 91, 861, 990, 351, 741, 231, 105, 496, 630, 120, 378, 253}

48. Check if a set contains another set as a subset.

In [249]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [252]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

50. Merge multiple sets into one.

In [255]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}