1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

To find the value of T(2) for the given recurrence relation, we can start by using the base case T(0) = 5.

The recurrence relation is T(n) = 3T(n-1) + 12n. We can apply this relation to find T(1) and then T(2).

First, let's find T(1): T(1) = 3T(0) + 12(1) T(1) = 3(5) + 12 T(1) = 15 + 12 T(1) = 27

Now that we have T(1), we can find T(2): T(2) = 3T(1) + 12(2) T(2) = 3(27) + 24 T(2) = 81 + 24 T(2) = 105

Therefore, the value of T(2) is 105.

2. Given a recurrence relation, solve it using the substitution method:
a. T(n) = T(n-1) + c
b. T(n) = 2T(n/2) + n
c. T(n) = 2T(n/2) + c
d. T(n) = T(n/2) + c

**a. T(n) = T(n-1) + c**

We can start by writing out the first few terms:

T(n) = T(n-1) + c T(n-1) = T(n-2) + c T(n-2) = T(n-3) + c ... T(1) = T(0) + c

Now, we can substitute these expressions into each other:

T(n) = (T(n-2) + c) + c T(n) = ((T(n-3) + c) + c) + c ... T(n) = T(0) + nc

Since T(0) is a constant, we can write the solution as:

T(n) = T(0) + nc

**b. T(n) = 2T(n/2) + n**

We can start by writing out the first few terms:

T(n) = 2T(n/2) + n T(n/2) = 2T(n/4) + n/2 T(n/4) = 2T(n/8) + n/4 ... T(1) = 2T(1/2) + 1

Now, we can substitute these expressions into each other:

T(n) = 2(2T(n/4) + n/2) + n T(n) = 4T(n/4) + 2n/2 + n T(n) = 4(2T(n/8) + n/4) + 2n/2 + n ... T(n) = 2^k * T(n/2^k) + n(1 + 1/2 + 1/4 + ... + 1/2^(k-1))

Since n/2^k = 1, we can write k = log2(n). Therefore, the solution is:

T(n) = n + n(1 + 1/2 + 1/4 + ... + 1/2^(log2(n)-1)) T(n) = n + n(log2(n))

**c. T(n) = 2T(n/2) + c**

This recurrence relation is similar to the previous one. We can start by writing out the first few terms:

T(n) = 2T(n/2) + c T(n/2) = 2T(n/4) + c T(n/4) = 2T(n/8) + c ... T(1) = 2T(1/2) + c

Now, we can substitute these expressions into each other:

T(n) = 2(2T(n/4) + c) + c T(n) = 4T(n/4) + 2c + c T(n) = 4(2T(n/8) + c) + 2c + c ... T(n) = 2^k * T(n/2^k) + ck

Since n/2^k = 1, we can write k = log2(n). Therefore, the solution is:

T(n) = n + c(log2(n))

**d. T(n) = T(n/2) + c**

We can start by writing out the first few terms:

T(n) = T(n/2) + c T(n/2) = T(n/4) + c T(n/4) = T(n/8) + c ... T(1) = T(1/2) + c

Now, we can substitute these expressions into each other:

T(n) = (T(n/4) + c) + c T(n) = ((T(n/8) + c) + c) + c ... T(n) = T(1) + c(log2(n))

Since T(1) is a constant, we can write the solution as:

T(n) = T(1) + c(log2(n))

3. Given a recurrence relation, solve it using the recursive tree approach:

a. T(n) = 2T(n-1) +1

b. T(n) = 2T(n/2) + n

a. T(n) = 2T(n-1) + 1

We can draw a recursive tree to visualize the recurrence relation:

In [ ]:
         T(n)
       /      \
  T(n-1)       1
  /  \         /  \
T(n-2)  1    1     1
  /  \       /  \
T(n-3)  1  1     1
  ...
  /  \
T(1)  1
  /
T(0)

The total cost of the tree is the sum of the costs of all the nodes:

T(n) = 2^0 * 1 + 2^1 * 1 + 2^2 * 1 + ... + 2^(n-1) * 1 T(n) = 2^(n-1) + 2^(n-2) + ... + 1 T(n) = 2^n - 1

**b. T(n) = 2T(n/2) + n**

We can draw a recursive tree to visualize the recurrence relation:

In [4]:
         T(n)
       /      \
  T(n/2)       n
  /  \         / \
T(n/4) n/2  n/2    n
  /  \       / \
T(n/8)  n/4  n/4 n
  ...
  /  \
T(1)  n/2^n
  /
T(1)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

The total cost of the tree is the sum of the costs of all the nodes:

T(n) = n + n/2 + n/4 + ... + 1 T(n) = n(1 + 1/2 + 1/4 + ... + 1/2^(log2(n)-1)) T(n) = n(log2(n))